@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  font-family: 'Nunito Sans', sans-serif;
}

body {
  padding: 50px;
  color: var(--foreground);
  background: var(--background);
}

body.dark {
  background-color: #121212;
  color: white;
}

.loader {
  width: 32px;
  aspect-ratio: 1;
  --_g: no-repeat radial-gradient(farthest-side, #0090FF 90%, #0000);
  background: var(--_g), var(--_g), var(--_g), var(--_g);
  background-size: 40% 40%;
  animation: l46 1s infinite;
}

@keyframes l46 {
  0% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  }
  40%, 50% {
    background-position: 100% 100%, 100% 0, 0 0, 0 100%;
  }
  90%, 100% {
    background-position: 100% 100%, 0 100%, 0 0, 100% 0;
  }
}

.slick-dots li button:before {
  font-size: 10px; 
  color: #0090FF;
  gap: 5px;
}
.slick-dots li.slick-active button:before {
  color: #b9bbc0;
}